!!! 5
%html
  %head
    %title Bootstrap Template
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'bootstrap.css'
    = stylesheet_link_tag 'bootstrap-responsive.css'

    =csrf_meta_tags

    /= javascript_include_tag 'jquery'
    /= javascript_include_tag 'jquery.tablesorter'
    = javascript_include_tag 'application'

  %body
    %div.navbar.navbar-inverse.navbar-fixed-top{:role => 'navigation'}
      %div.navbar-inner
        %div.container
          %button.btn-navbar{:type => 'button', 'data-toggle' => 'collapse', 'data-target' => '.nav-collapse'}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => '#'} Project Name
          %div.nav-collapse.collapse
            %ul.nav
              %li{:class => "#{'active' if current_page?(tables_path)}"}
                %a{:href => root_path} Home
              %li
                %a{:href => '#'} About
              %li
                %a{:href => '#'} Contact
    = yield

  /placed at the end of the document so the pages load quickly


  /= javascript_include_tag 'bootstrap'
  /= javascript_include_tag 'bootstrap-transition'
  /= javascript_include_tag 'bootstrap-alert'
  /= javascript_include_tag 'bootstrap-modal'
  /= javascript_include_tag 'bootstrap-dropdown'
  /= javascript_include_tag 'bootstrap-scrollspy'
  /= javascript_include_tag 'bootstrap-tab'
  /= javascript_include_tag 'bootstrap-tooltip'
  /= javascript_include_tag 'bootstrap-popover'
  /= javascript_include_tag 'bootstrap-button'
  /= javascript_include_tag 'bootstrap-collapse'
  /= javascript_include_tag 'bootstrap-carousel'
  /= javascript_include_tag 'bootstrap-typeahead'

